<!-- Style for title preview -->
<h2 style="font-weight: 200;font-size:45px;line-height: 48px;">Manage Page Protection</h2>
<span style="
font-size: 32px;
font-weight: 200;
font-family: Roboto;
">${protectionInfo.title}</span>
<h4>Request a level</h4>
<div style="display: flex; height:400px;">
    <!-- WRAPPER-->

    <!-- LEFT SIDE SELECT LEVEL -->
    <div style="flex: 0 0 45%;padding-right: 10px;">
        <span id="radioContainer">
            ${finLevelListStr} <!-- Add fin level string for radiobuttons-->
        </span>
    </div>

    <!-- RIGHT SIDE EXTRA INFO -->
    <div style="flex:1;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
            <input type="text" value="" class="mdl-textfield__input" id="reasonRequestSelector" readonly>
            <input type="hidden" value="" name="reasonRequestSelector">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="reasonRequestSelector" class="mdl-textfield__label">Reason</label>
            <ul for="reasonRequestSelector" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="height:300px; overflow:auto;">
                <li class="mdl-menu__item">Persistent Vandalism</li>
                <li class="mdl-menu__item">Persistent Disruptive Editing</li>
                <li class="mdl-menu__item">Content Dispute/Edit Warring</li>
                <li class="mdl-menu__item">BLP Policy Violations</li>
                <li class="mdl-menu__item">Sockpuppetry</li>
                <li class="mdl-menu__item">User Talk Of Blocked User</li>
                <li class="mdl-menu__item">Highly Visible Template</li>
                <li class="mdl-menu__item">Arbitration Enforcement</li>
                <li class="mdl-menu__item" id="RWRFPPotherRationale">Other rationale</li>
            </ul>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="extraInfoTxtBox">
            <label class="mdl-textfield__label" for="extraInfoTxtBox">Additional Info</label>
        </div>
        <br/>
        <span>
            <span style="
            padding-right: 10px;
            font-weight: 500;
            font-family: Roboto;
            ">Protection duration:</span>
            <!-- Temporary protection -->
            <label id="tempTimeLbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tempTime" style="padding-right: 10;">
                <input type="radio" id="tempTime" class="mdl-radio__button" name="timeLvl" value="Temporary" checked>
                <span class="mdl-radio__label"><span class="material-icons">timer</span></span>
            </label>
            <div class="mdl-tooltip mdl-tooltip--large" for="tempTimeLbl">
                Temporary
            </div>

            <!-- Indefinite protection -->
            <label id="indefTimeLbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="indefTime" style="padding-right: 10;">
                <input type="radio" id="indefTime" class="mdl-radio__button" name="timeLvl" value="Indefinite">
                <span class="mdl-radio__label"><span class="material-icons">all_inclusive</span></span>
            </label>
            <div class="mdl-tooltip mdl-tooltip--large" for="indefTimeLbl">
                Indefinite
            </div>
        </span>
        <!-- Disclaimer text -->
        <p style="color: #737373;font-family: Roboto;font-size: small;padding-top:10px;">
            You should not consider requesting page protection as a method for continuing an argument from elsewhere nor as a venue for starting a
            new discussion regarding article content. If a request contains excessive argument, appears to be intended to resolve a content dispute,
            includes personal attacks or uncivil comments, or has any other unrelated discussion, it will be removed and no action will be taken.
        </p>
    </div>

</div>

<!-- BUTTONS -->
<span style="float:right;">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.parent.postMessage('closeDialog', '*');">
        CANCEL
    </button>
    <button id="submitBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="submitRequest();">
        SUBMIT REQUEST
    </button>
</span>

<script>
        // Handle incoming data
    window.onmessage = function(e){
        if (e.data.action == 'parseWikiTxt') {
            $("#preview").html(e.data.result); // Set preview to content
        }
    };

    function pushToast(text) {window.parent.postMessage('pushToast\\\`' + text);} // Push toast to host

    function submitRequest() {
        // Send our request back to the top, after making sure everything is ok
        if ($("#radioContainer").find("input:checked").length > 0) { // Ensure a value is checked
            let requestLevel = $("#radioContainer").find("input:checked").attr("id"); // get checked ID
            let changeCoreReason = $("#reasonRequestSelector").val(); // get core reason for change
            let changeExtraInfo = $("#extraInfoTxtBox").val(); // ger extra info
            let requestDuration = (($("#indefTime:checked").length > 0) ? "Indefinite" : "Temporary"); // indef protection

            if (!changeCoreReason) {pushToast("Please select a reason");return;} // if no core reason, toast and EXIT.

            // let's continue and push upstairs
            window.parent.postMessage('submitRFPP\`' + requestLevel + '\`' + changeCoreReason + '\`' + changeExtraInfo + '\`' + requestDuration);

            // We done here - let's close
            window.parent.postMessage('closeDialog', '*');
        } else {
            // No level checked
            pushToast("Please select a protection level.");
        }
    }
    // Egg
    $("#RWRFPPotherRationale").keydown(e=>{if ("R"==e.key && confirm("You are about to open an external link to YouTube.com - continue?"))Object.assign(document.createElement("a"),{target:"_blank",href:"https://www.youtube.com/watch?v=wmYT79tPvLg"}).click()});
</script>