    <!-- INCLUDED BY COMPILER -->

    <!-- Style needed to prevent huge headings -->
<style>
    #previewUsrPg h2{
        font-size:25px
    }

    #previewUsrPg .mw-editsection {
        display: none; /* Hide edit links */
    }

    #previewUsrPg .toc {
        /* Hide table of contents */
        display: none;
    }
</style>
<div id="noticeFmContainer">
    <h2 style="font-weight: 200;">New Notice</h2>



    <!-- FORM -->
    <form id="newNoticeForm">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:75%;"> <!-- 75% for account standing -->
        <input class="mdl-textfield__input" type="text" id="trgtUsrVisualBox" value="`+ rw.info.targetUsername(un) +`" readonly>
        <label class="mdl-textfield__label" for="trgtUsrVisualBox">Target</label>
        <div class="mdl-tooltip" for="trgtUsrVisualBox">
            To target a different user, please visit their userpage, or right-click a link to their userpage.
        </div>
    </div>
    <span style="display:none;">`+ (hideUserInfo ? "" : "</span>") + `<!-- hide if hide requested-->
    <!-- Last warning note -->
    `+ lastWarning +`

    <!-- Preview userpage notices this month btn -->
    <span class="material-icons" id="prevUsrPgMonth" style="cursor:pointer;position: relative;top: 5px;padding-left: 10px;" onclick="showThisMonthsUsrMsgs();">assignment_late</span>
    <div class="mdl-tooltip mdl-tooltip--large" for="prevUsrPgMonth">
        <span style="font-size:x-small;">
            See notices for this month
        </span>
    </div>

    <!-- Preview userpage btn -->
    <span class="material-icons" id="prevUsrPg" style="cursor:pointer;position: relative;top: 5px;padding-left: 10px;" onclick="showUsrPg();">assignment_ind</span>
    <div class="mdl-tooltip mdl-tooltip--large" for="prevUsrPg">
        <span style="font-size:x-small;">
            Preview Userpage
        </span>
    </div>
    `+ (hideUserInfo ? "</span>" : "") + ` <!-- end span if hidden -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" style="width:100%" id="reasonsBox">
        <input type="text" value="" class="mdl-textfield__input" id="template" style="font-size:14px;" autocomplete="off">
        <input type="hidden" value="" name="template">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        <label for="template" class="mdl-textfield__label">${(rw.config.rwNoticeListByTemplateName != "enable") ? `Reason` : `Template`}</label> <!-- show reason or template based on config-->
        <ul for="template" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="overflow-y: scroll;height: 300px">
            `+ finalListBox +`
        </ul>
    </div>

    <!-- Select which level of warning -->
    <span style="padding-right: 30;">Notice Level: </span>

    <span id="warningRadioButtons">
    <!-- LEVEL 1 -->
    <label id="l1Lbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="level1" style="padding-right: 10;">
        <input type="radio" id="level1" class="mdl-radio__button" name="warnLevel" value="1" `+ (!autoLevelSelectEnable || (w == 0) ? `checked` : ``) + `> <!-- Check if no notices recieved or if autolevel select is off -->
        <span class="mdl-radio__label">
        <span class="material-icons">info</span>
        </span>
    </label>
    <div class="mdl-tooltip mdl-tooltip--large" for="l1Lbl">
        Notice<br />
        <span style="font-size:x-small;">
        Level 1<br />
        Assumes Good Faith</span>
    </div>

    <!-- Level 2 -->
    <label id="l2Lbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="level2" style="padding-right: 10;"> 
        <input type="radio" id="level2" class="mdl-radio__button" name="warnLevel" value="2" `+ (autoLevelSelectEnable && (w == 1) ? `checked` : ``) + `><!-- Check if level one -->
        <span class="mdl-radio__label">
            <span class="material-icons">announcement</span>
        </span>
    </label>
    <div class="mdl-tooltip mdl-tooltip--large" for="l2Lbl">
        Caution<br />
        <span style="font-size:x-small;">
        Level 2<br />
        No Faith Assumption.</span>
    </div>

    <!-- Level 3 -->
    <label id="l3Lbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="level3" style="padding-right: 10;">
        <input type="radio" id="level3" class="mdl-radio__button" name="warnLevel" value="3" `+ (autoLevelSelectEnable && (w == 2) ? `checked` : ``) + `>
        <span class="mdl-radio__label"><span class="material-icons">report_problem</span></span>
    </label>
    <div class="mdl-tooltip mdl-tooltip--large" for="l3Lbl">
        Warning<br />
        <span style="font-size:x-small;">
        Level 3<br />
        Assumes bad faith, cease and desist.</span>
    </div>


    <!-- Level 4 -->
    <label id="l4Lbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="level4" style="padding-right: 10;">
        <input type="radio" id="level4" class="mdl-radio__button" name="warnLevel" value="4" `+ (autoLevelSelectEnable && (w > 2) ? `checked` : ``) + `>
        <span class="mdl-radio__label"><span class="material-icons">report</span></span>
    </label>
    <div class="mdl-tooltip mdl-tooltip--large" for="l4Lbl">
        Final Warning<br />
        <span style="font-size:x-small;">
        Level 4<br />
        Bad faith, last warning.</span>
    </div>


    <!-- Level 4im -->
    <label id="l4imLbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="level4im" style="padding-right: 10;">
        <input type="radio" id="level4im" class="mdl-radio__button" name="warnLevel" value="4im">
        <span class="mdl-radio__label"><span class="material-icons">new_releases</span></span>
    </label>
    <div class="mdl-tooltip mdl-tooltip--large" for="l4imLbl">
        ONLY Warning<br />
        <span style="font-size:x-small;">
        Level 4im<br />
        Excessive and continuous disruption.</span>
    </div>

    <!-- NO Level 4 (and explaination)-->
    <label id="l4noLbl" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="level4no" style="padding-right: 10; display:none;">
        <input type="radio" id="level4no" class="mdl-radio__button" name="warnLevel" value="" disabled>
        <span class="mdl-radio__label"><span class="material-icons" style="cursor: help;">report_off</span></span>
    </label>
    <div class="mdl-tooltip mdl-tooltip--large" for="l4noLbl">
        No final warning.<br />
        <span style="font-size:x-small;">
        A final warning cannot be issued under this reason. To issue a level 4 or level 4im warning, choose the "Generic Warning" option.</span>
    </div>

    <!-- end of radio buttons -->
    </span>

    <!-- SINGLE NOTICE ONLY -->
    <span id="singleNoticeOnly" style="cursor: help;display: none;">

        <span id="sNoticeTt"><strong>Reminder</strong></span>
        <div class="mdl-tooltip mdl-tooltip--large" for="sNoticeTt">
            Reminder<br />
            <span style="font-size:x-small;">
            Single Notice<br />
            Serves to remind other editors about minor mistakes
            </span>
        </div>
    </span>
    <!-- END SINGLE NOTICE -->

    <!-- SINGLE WARNING ONLY -->
    <span id="singleWarnOnly" style="cursor:help;display: none;">

        <span id="sWarnTt"><strong>Policy Violation Warning</strong></span>
        <div class="mdl-tooltip mdl-tooltip--large" for="sWarnTt">
            Policy Violation Warning<br />
            <span style="font-size:x-small;">
            Single Warning<br />
            Serves to advise editors of policy breaches that, if repeated, are likely to result in a block.
            </span>
        </div>
    </span>
    <!-- END SINGLE WARNING -->

    <span id="ordInfo"> <!-- ordinary info -->
        <!-- Related pages -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:92.4%">
            <input class="mdl-textfield__input" name="relatedPage" type="text" id="relatedPage" value="`+ rw.info.getRelatedPage(pg).replace(/_/g, ' ') +`">
            <label class="mdl-textfield__label" for="relatedPage">Related Page</label>
            <div class="mdl-tooltip" for="relatedPage">
                Optionally, enter the page that this notice relates to.
            </div>
        </div>

        <!-- Select from recents button -->
        <span class="material-icons" id="selectPgFromRecents" style="cursor:pointer;position: relative;top: 5px;padding-left: 10px;" onclick="window.parent.postMessage('openRecentPageSelector');">event_note
        </span>
        <div class="mdl-tooltip mdl-tooltip--large" for="selectPgFromRecents">
            <span style="font-size:x-small;">
                Select from recently visited pages
            </span>
        </div>

        <!-- Additional info box -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
            <input class="mdl-textfield__input" name="extraInfo" type="text" id="extraInfo" value="">
            <label class="mdl-textfield__label" for="extraInfo">Additional info</label>
            <div class="mdl-tooltip" for="extraInfo">
                Optionally, add additional info that will be appended to the end of the notice.
            </div>
        </div>
    </span>


    <span id="specialInfo" style="display: none;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
            <input class="mdl-textfield__input" name="specialInfo" type="text" id="specialInfo" value="">
            <label class="mdl-textfield__label" for="specialInfo">Special Information</label>
            <div class="mdl-tooltip mdl-tooltip--large" for="specialInfo" id="specialInfoTt">
                Placeholder :)
            </div>
        </div>
    </span>

    <!-- END FORM -->
    </form>


    <span id="previewContainer">
        <!-- EDIT BUTTON -->

        <span id="editBtn" class="material-icons" style="font-size: 16px;padding-bottom: 3px;float: right;padding-right: 5px;cursor: pointer;" onclick="$('#previewContainer').hide();$('#editorContainer').show();">
            create
        </span>

        <div id="preview" style="height: 150px; overflow-y: auto; width:100%;"> <!-- do not use max-height as this moves the buttons and makes it hard for muscle memory-->
            
        </div> <!-- Used to show preview-->
    </span>

    <span id="editorContainer" style="display:none;">
        <span id="previewBtn" class="material-icons" style="font-size: 16px;padding-bottom: 3px;float: right;padding-right: 5px;cursor: pointer;" onclick="$('#previewContainer').show();$('#editorContainer').hide();grabPreview(true);">
            visibility
        </span>
        <div id="editor">
            <textarea id="wikiTxt" style="height: 150px; max-height: 150px; overflow-y: auto; width:100%;"></textarea>
        </div> <!-- Used to edit Wikitext -->
    </span>

    <!-- SUBMIT BUTTONS --> <br/>
    <span style="float:left;color:red;" id="errorString">
        
    </span>
    <span style="float:right;">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.parent.postMessage('closeDialog', '*');">
            CANCEL
        </button>
        <button id="submitBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="submitEdit();">
            `+ (customCallback ? customCallback : `SEND NOTICE`) + ` <!-- use custom button if requested -->
        </button>
    </span>
</div>

<!-- Userpage month preview -->
<div id="usrPgPrevMth" style="display: none;">
    <span class="material-icons" id="prevUsrPg" style="cursor:pointer;position: relative;top: 5px;padding-bottom: 10px;" onclick="returnTonoticeForm();">arrow_back</span>
    <div class="mdl-tooltip mdl-tooltip--large" for="prevUsrPg">
        <span style="font-size:x-small;">
            Back to Notice Editor
        </span>
    </div>

    <div id="previewUsrPgMth" style="height: 95%; overflow:auto;">
        <i>Generating preview...</i>
        <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <pre id="uMloadingPre" style="white-space: pre-wrap;">`+ usrPgMonth +`</pre>
    </div>
    
</div>

<!-- Userpage preview -->
<div id="usrPgPrev" style="display: none;">
    <span class="material-icons" id="prevUsrPg" style="cursor:pointer;position: relative;top: 5px;padding-bottom: 10px;" onclick="returnTonoticeForm();">arrow_back</span>
    <div class="mdl-tooltip mdl-tooltip--large" for="prevUsrPg">
        <span style="font-size:x-small;">
            Back to Notice Editor
        </span>
    </div>
    <div id="previewUsrPg" style="height: 95%; overflow:auto;">
        <i>Generating preview...</i>
        <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <pre id="uloadingPre" style="white-space: pre-wrap;">`+ userPg +`</pre>
    </div>
</div>

<script>
    function showThisMonthsUsrMsgs() {
        $("#noticeFmContainer").hide();
        $("#usrPgPrev").hide();
        $("#usrPgPrevMth").show();
        // Generate preview if needed (i.e. loading pre still there)
        if ($("#uMloadingPre").length > 0) {
            let wikiTxt = $("#uMloadingPre").text();
            window.parent.postMessage('generatePreview\\\`'+ wikiTxt, '*');
        }
    }

    function showUsrPg() {
        $("#noticeFmContainer").hide();
        $("#usrPgPrev").show();
        $("#usrPgPrevMth").hide();
        // Generate preview if needed (i.e. loading pre still there)
        if ($("#uloadingPre").length > 0) {
            let wikiTxt = $("#uloadingPre").text();
            window.parent.postMessage('generatePreview\\\`'+ wikiTxt, '*');
        }
    }

    function returnTonoticeForm() {
        $("#noticeFmContainer").show();
        $("#usrPgPrevMth").hide();
        $("#usrPgPrev").hide();
    }

        // Handle incoming data
    window.onmessage = function(e){
        if (e.data.action == 'parseWikiTxt') {
            if ($("#usrPgPrevMth:visible").length > 0) {
                // user page month preview
                $("#previewUsrPgMth").html(e.data.result); // set content
                return; // exit
            } else if ($("#usrPgPrev:visible").length > 0) {
                // User page preview
                $("#previewUsrPg").html(e.data.result); // set content
                return; // exit
            }

            // Normal preview
            $("#preview").html(e.data.result); // Set preview to content
        } else if (e.data.action == 'recentPage') {
            // On recent page selected
            $("#relatedPage").val(e.data.result);
        }
    };

    // Search reasons
    // Very basic but it works 
    $("input#template").keydown(e=>{
        if (e.key == "Enter") {
            $($(".mdl-menu__item:visible")[0]).click(); // invoke click on first visible to select
            refreshLevels($($(".mdl-menu__item:visible")[0]).attr("data-val")); // refresh preview
            return; // exit
        }

        // Else, continue normal search
        let toSearch = document.getElementById("template").value.toLowerCase();
        $(".mdl-menu__item").each((x,y)=>{
            if ($(y).html().toLowerCase().includes(toSearch)) {
                $(y).show();
            } else {
                $(y).hide();
            }
        });

            // Clear out headers with nothing under
            $("span.rwNoticeCatagory").each((i, el)=>{
                if ($(el).find("li.mdl-menu__item:visible").length == 0) {
                    $(el).find(".rwNoticeCatagoryHead").hide();
                } else {
                    $(el).find(".rwNoticeCatagoryHead").show();
                }
            });
    });



    var grabPreview = fromCustomTxt=> {
        // Generate preview
        // Wikitext grab
        if (fromCustomTxt) {
            // Edited using Wikitext editor
            var wikiTxt = document.getElementById("wikiTxt").value;
            if (!wikiTxt.includes("${rw.sign()}")) {
                // Not signed, warn
                pushToast("Don't forget to sign your notice!");
            }
            window.parent.postMessage('generatePreview\\\`'+ wikiTxt, '*');
        } else {
            if ($('#editorContainer:visible').length > 0) {
                // Editor is open, we don't want to overwrite by accident.
                pushToast("Warning: This will overwrite your changes. Switch back to preview to confirm.");
                return;
            }
            // Get preview as usual
            getTemplateName(name=>{
            var wikiTxt = "{{subst:"+ name +"}} " + "${rw.sign()}";
            // Check if this user is an IP, if so, add the advice template to the end
            if (`+ (rw.info.isUserAnon(rw.info.targetUsername(un)) ? "true" : "false") +` == true) {
                wikiTxt += "`+ rw.sharedIPadvice() +`";
            }
            document.getElementById("wikiTxt").value = wikiTxt; // set edit box
            window.parent.postMessage('generatePreview\\\`'+ wikiTxt, '*');
            }); 
        } 
    }

    var rules = `+ JSON.stringify(rw.rules) +`; // get rules from host
    var refreshLevels = i=> {
       if (rules[i].warningLevels.includes(0)) {
           // Single notice
           $("#warningRadioButtons").hide();
           $("#singleNoticeOnly").show();
           $("#singleWarnOnly").hide();
       } else if (rules[i].warningLevels.includes(6)) {
           // Single warning
           $("#warningRadioButtons").hide();
           $("#singleNoticeOnly").hide();
           $("#singleWarnOnly").show();
       } else {
           // Normal warning
           $("#warningRadioButtons").show();
           $("#singleNoticeOnly").hide();
           $("#singleWarnOnly").hide();

           if (!rules[i].warningLevels.includes(1)) {
            // No l1 warning
            $("#l1Lbl").hide();
           } else {
            $("#l1Lbl").show();
           }

           if (!rules[i].warningLevels.includes(2)) {
            // No l2 warning
            $("#l2Lbl").hide();
           } else {
            $("#l2Lbl").show();
           }
           if (!rules[i].warningLevels.includes(3)) {
            // No l3 warning
            $("#l3Lbl").hide();
           } else {
            $("#l3Lbl").show();
           }

           // LEVEL 4
           if (!rules[i].warningLevels.includes(4)) {
            // No final warning
            $("#l4Lbl").hide();
            $("#l4noLbl").show();
           } else {
            $("#l4Lbl").show();
            $("#l4noLbl").hide();
           }
           if (!rules[i].warningLevels.includes(5)) {
            // No ONLY warning
            $("#l4imLbl").hide();
           } else {
            $("#l4imLbl").show();
           }
       }

       if (rules[i].note != null) {
           // A disclaimer toast needs to be shown
           pushToast(rules[i].note);
       }

       let noneStandard = {
                'uw-agf-sock': 'Optional username of other account (without User:) ',
                'uw-bite': "Username of 'bitten' user (without User:) ",
                'uw-socksuspect': 'Username of sock master, if known (without User:) ',
                'uw-username': 'Username violates policy because... ',
                'uw-aiv': 'Optional username that was reported (without User:) '
        }; // These all take a different thing and only have 1 input

        if (noneStandard[rules[i].template] != null) {
            // Requires special input
            $("#specialInfo").show();
            $("#ordInfo").hide();
            $("#specialInfoTt").html(noneStandard[rules[i].template]); // Set tool tip text
        } else {
            // Doesn't require
            $("#specialInfo").hide();
            $("#ordInfo").show();
        }
    }

    function pushToast(text) {window.parent.postMessage('pushToast\\\`' + text);} // Push toast to host

    var getTemplateName = callback=> { // CALLBACK IS ONLY CALLED IF SUCCESSFUL
        let currentTemplate = "";
        let currentLevel = "";
        var data = $('#newNoticeForm').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
            }, {}); // form data

        // LEVEL
        if ($("input:radio:visible:checked").length == 0) { // If no visble radio buttons checked
            if ($("#singleNoticeOnly:visible").length > 0 || $("#singleWarnOnly:visible").length > 0) {
                // No warning level needed, leaving for readability
            } else {
                // No radio button pressed, not a single warning/notice
                $("#errorString").text("Please select a warning level.");
                return;
            }
        } else {
            // Radio button
            currentLevel = data.warnLevel; // Set to selected radiobutton value
        }

        // TEMPLATE
        if (data.template == "") {
            // No reason selected
            $("#errorString").text("Select a reason.");
            return;
        }
        // All good
        $("#errorString").text("");
        currentTemplate = rules[data.template].template; // assemble
        if ($("#specialInfo:visible").length > 0) {
            callback(currentTemplate + currentLevel + "|" + data.specialInfo); // callback w data for special
        } else {
            callback(currentTemplate + currentLevel + "|" + $("#relatedPage").val() + "|" + "'' "+ data.extraInfo +"''"); // callback, extra info italics
        }
    };

    function submitEdit() {
        // Add notice to page
        getTemplateName(r=>{ // acts as validation
            // SEND IT
            var data = $('#newNoticeForm').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
                }, {}); // form data

            var wikiTxt = document.getElementById("wikiTxt").value;
            if (!wikiTxt.includes("${rw.sign()}")) {
                // Not signed, warn
                $("#errorString").text("Please sign your notice.");
                return; // Do not continue
            }
            // Format: applyNotice,target,wikitxt,warnlevel|rulename
            window.parent.postMessage(('applyNotice\\\`' + document.getElementById("trgtUsrVisualBox").value + '\\\`' + wikiTxt + '\\\`' + rules[data.template].name + '\\\`' + r)); // Push upstairs and commit
            window.parent.postMessage("closeDialog"); // We done here. Top will refresh or reshow if error occurs.
        });
    }


    // Check for change in form data
    // then 500ms since last change, update preview
    var oldData = "";
    var updatePreviewTOut;
    setInterval(()=>{
        var data = $('#newNoticeForm').serializeArray().reduce((obj, item) => {
            obj[item.name] = item.value;
            return obj;
            }, {}); // form data
        if (JSON.stringify(data) === oldData) {
            // No change
        } else {
            oldData = JSON.stringify(data); // set
            $("#submitBtn").hide(); // hide until template refresh
            // Change. Set timeout for 500ms
            try {
                clearTimeout(updatePreviewTOut); // clear timeout so it resets after last change
            } catch (e) {}
            updatePreviewTOut = setTimeout(()=>{
                grabPreview();
                $("#submitBtn").show();
            }, 500); // show previews after 500ms since last change
        }
       
    }, 100);

    // If autoselect enabled and autoselect index set, apply to that index
    `+ ((autoLevelSelectEnable) && (autoSelectReasonIndex != null) ? `
        // Activate click event for this index after 250ms
        setTimeout(()=>{
            $("#reasonsBox > input:visible").click();
            setTimeout(()=>{
                $("li.mdl-menu__item[data-val='${autoSelectReasonIndex}']").click();
            },250);
        },250);
    ` : "") +`
</script>